<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><i class="material-icons">pan_tool</i><i class="material-icons">pan_tool</i><i class="material-icons">pan_tool</i></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">OS Poll</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">view_module</i></a></li>
    </ul>
  </div>
</nav>