<div class="container">
    <audio id='myaudio' autoplay>
        <source src="assets/Nas-Purple.mp3" type="audio/mpeg">
    </audio>

    <h1>OS Vote</h1>
    <p>Vote for your favourite OS to Develop on</p>
    <form id="vote-form">
        <p>
            <input type="radio" name='os' id="windows" value='Windows'>
            <label for="windows">Windows</label>
        </p>
        <p>
            <input type="radio" name='os' id="macos" value='MacOS'>
            <label for="macos">Mac OS</label>
        </p>
        <p>
            <input type="radio" name='os' id="linux" value='Linux'>
            <label for="linux">Linux Distro</label>
        </p>
        <p>
            <input type="radio" name='os' id="other" value='Other'>
            <label for="other">Something Else</label>
        </p>
        <input type="submit" value="Vote" class="btn">
    </form>

    <br>
    <br>
    <br>

    <div id="chartContainer" style='height: 300px; width: 100%;'>

    </div>

</div>